*{
    color:white;
}
body{
    background-color:#777;    
}

.link{
    /* border:1px solid white; */
    width:15%;
    text-align: center;
    margin-top:20px;
}

a{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    z-index: 100;
}